/**
* {{classname}}.
* {{#description}}
    * {{description}}
    * {{/description}}
*/
{{>generatedAnnotation}}
public enum {{classname}} {
{{#allowableValues}}{{#enumVars}}
    /**
    * {{value}}
    */
    {{name}}{{^last}},{{/last}}
{{/enumVars}}{{/allowableValues}}
}
