<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Start Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
      .order-complete-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 500px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div class="order-complete-card">
      <h1>Checkout SDK Demo</h1>
      <p>SessionState was [[${sessionState}]]</p>
    </form>
  </body>
</html>
